<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <label for="search">{{ text }}</label>
            <input id="search" type="text" pInputText [formControl]="searchControl"/>
            <button [disabled]="!searchControl.valid" (click)="doSearch()" label="Pesquisar" class="btn btn-lg btn-success">Pesquisar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pesquisar com autocomplete</h5>
          <input id="searchAutoComplete" type="text" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <app-loader class="col" *ngIf="loading$ | async"></app-loader>
    <div class="col" *ngIf="!(loading$ | async) && !(error$ | async) && !!(cityWeather$ | async)">
      {{ (cityWeather$ | async ).city.name }}
    </div>
    <div class="col" *ngIf="!(loading$ | async) && error$ | async">
      <a>Houve algum erro, tente novamente...</a>
    </div>
  </div>
</div>

