<div class="card">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="search">{{ text }}</label>
      <input id="search" type="text" pInputText [formControl]="searchControl"/>
      <button [disabled]="!searchControl.valid" (click)="doSearch()" label="Pesquisar" pButton pRipple type="button" class="p-button-rounded p-button-secondary"></button>
    </div>
    <div class="p-field p-col">
      <label for="searchAutoComplete">Pesquisar com <i>autocomplete</i></label>
      <input id="searchAutoComplete" type="text" pInputText />
    </div>
  </div>
</div>